mat-toolbar {
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.img-logo {
  display: flex;
  align-items: center;
}

.img-logo img {
  width: 90px;
  height: 90px;
  object-fit: contain; 
}