<section>
    <app-navbar></app-navbar>
    <section class="hero">
        <div class="left-hero">
            <img src="../../../assets/images/hero-bg.png" alt="Coração bordado">
        </div>
        <div class="right-hero">
            <h2 class="title">Lorem Ipsum</h2>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor id magna molestie sollicitudin.
                Etiam at rhoncus arcu, et malesuada elit. Nullam sagittis nunc purus, vel hendrerit velit eleifend eu.
            </p>
        </div>
    </section>
    <section class="home-cards">
        <app-card></app-card>
    </section>
    <section class="bottom">
        <span>a</span>
    </section>
</section>