@use '@angular/material' as mat;

$white-palette: mat.define-palette((
  50: #ffffff,
  100: #ffffff,
  200: #ffffff,
  300: #ffffff,
  400: #ffffff,
  500: #ffffff,
  600: #f0f0f0,
  700: #e0e0e0,
  800: #d0d0d0,
  900: #c0c0c0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
  )
));

$neutral-accent: mat.define-palette(mat.$grey-palette);

$white-theme: mat.define-light-theme((
  color: (
    primary: $white-palette,
    accent: $neutral-accent,
  )
));

@include mat.all-component-themes($white-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
