.cards {
    margin: 3%;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;

    .content {
        display: flex;
        flex-direction: column;

        .superior-part {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 15px;

            .add-item {
                display: flex;
                align-items: center;
                width: 80%;
                column-gap: 15px;
            }
        }

        .items {
            width: 100%;
            display: flex;
            height: 70vh;
            overflow-y: auto;
            flex-direction: column;
            align-items: center;

            .activitys {
                display: flex;
                align-items: center;
                width: 100%;
                padding-bottom: 20px;
            }

            .list-formatter {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 95%;
                column-gap: 15px;
            }

            .empty-box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        .input-activity {
            width: 100%;
            padding: 10px 14px;
            font-size: 15px;
            color: #333;
            background-color: #fff;
            border: none;
            border-bottom: 1px solid #bc3c46;
            transition: all 0.3s ease;
            outline: none;

            .input-activity:focus {
                border: none;
                border-bottom: 2px solid #bc3c46;
                outline: none;
            }

            &::placeholder {
                color: #aaa;
            }

            .input-activity.ng-invalid.ng-touched {
                border-bottom: 2px solid red;
                /* Caso seja um erro de validação, exibe apenas a linha inferior em vermelho */
            }
        }

    }
}