<section color="principal" class="cards">
    <div class="content">
        <div class="superior-part">
            <h3>Minha Lista de Tarefas</h3>
            <div class="add-item">
                <input class="input-activity" [(ngModel)]="newTask" placeholder="Digite uma nova tarefa" />
                <button mat-icon-button (click)="addTask()" aria-label="Adicionar tarefa">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

        <div class="items">
            <div *ngIf="checklist.length === 0" class="empty-box">
                <h3>Que tal adicionar uma nova tarefa?</h3>
                <img src="../../../assets/images/bgcard.png" alt="morango vermelho">
            </div>
            <div class="list-formatter">
                <div *ngFor="let item of checklist; let i = index" class="activitys">
                    <mat-checkbox [(ngModel)]="item.checked"></mat-checkbox>
                    <input readonly class="input-activity" [value]="item.label" />
                    <mat-icon (click)="removeTask(i)" style="cursor: pointer;">delete</mat-icon>
                </div>
            </div>
        </div>
    </div>
</section>